.roam-container{
	border:0px solid #ccc;
    padding: 5px;
    text-align:center;
}

.roam-block{
	border: 1px solid #ccc;
	float:left;
    margin:0px 5px;
	cursor: pointer;
    position: relative;
    background-repeat:no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.roam-title{
    position: absolute;
    bottom: 0px;
    padding: 5px;
    font-family: Microsoft YaHei,SimHei,STHeiti,fantasy;
    font-size: 24px;
    text-shadow: 0px 1px 0px #C8D0E7;
}

.roam-content{
    position: absolute;
    top: 0px;
    padding: 5px;
    font-family: cursive;
}